.App {
  text-align: center;
  max-width: 92%;
  margin: auto;
}

.button-container {
  display: flex;
}

.week-button {
  margin: 5px;
  height: 25px;
  font-size: 12px;
  border: none;
  width: 130px;
  background-color: hsla(0, 0%, 82.4%, 0.2);
  border-radius: 32px;
  padding: 4px 16px;
}

.inputs-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* .dropdown {
  margin: 5px;
  font-size: 12px;
  border: none;
  background-color: hsla(0, 0%, 82.4%, 0.2);
  border-radius: 32px;
  padding: 4px 16px;
  text-align: center;
} */
